/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }
  
  header nav {
    margin-top: 0.5rem;
  }

  header h1 {
    margin: 0;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
  }
  
  main {
    padding: 2rem;
  }
  
  #privacy-policy {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #privacy-policy h2 {
    margin-top: 0;
    text-align: center;
  }
  
  #privacy-policy ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  